{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
	<title></title>
	<h1><strong><center>KOMPOSISI TRANSFORMASI DENGAN MATRIKS</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>

<p>Komposisi transformasi adalah transformasi majemuk yang memuat lebih dari satu traansformasi yang dilakukan secara berurutan. Komposisi transformasi bisa berupa komposisi translasi, komposisi refleksi, komposisi rotasi, komposisi dilatasi, komposisi matriks tertentu atau komposisi dari translasi, refleksi, rotasi, dilatasi dan matriks tertentu.</p>
<p> Mata pelajaran matematika merupakan yang sangat penting, dengan Ilmu Matematika kita mengetahui adanya geometri transformasi yang memuat refleksi, translasi, rotasi, dan dilatasi. 
</p>
<center><p>Transformasi Dengan Matriks</p></center>
<p>Transformasi Garis dengan Komposisi Transformasi</p>
<p>1)	Misalkan satu titik sembarang pada garis sebagai titik awal.</p>
<p>2)	Transformasikan titik tersebut menggunakan komposisi transformasi.</p>
<P>3)	Subtitusikan persamaan koordinat titik awal tersebut ke persamaan garisnya.</P>

<center> Latihan</center>
<p>1. Jika titik (3, 4) dirotasikan berlawanan arah jarum jam sejauh 45° dengan pusat titik asal, kemudian hasilnya dicerminkan terhadap garis y = x, maka koordinat bayangannya adalah …</p>
<p>2. Bayangan garis 3𝑥 + 𝑦 = 4 oleh transformasi yang bersesuaian dengan matriks (■(0&1@-1&3)) dilanjutkan oleh rotasi dengan pusat O (0,0) sejauh 270° adalah …</p>
<p>3. Persamaan bayangan garis 𝑦 = 𝑥 + 1 ditransformasikan oleh matriks (■(1&2@0&1)) ) dilanjutkan dengan pencerminan terhadap sumbu x adalah...</p>
<p>4. Persamaan bayangan parabola 𝑦=𝑥2−3 ditransformasi oleh refleksi terhadap sumbu X dilanjutkan oleh transformasi yang bersesuaian dengan matriks (2111) adalah... </p>
<p>5. Segitiga 𝐾𝐿𝑀 mempunyai koordinat 𝐾(−1,−2),𝐿(4,−2), dan 𝑀(4,0). Segitiga KLM ditransformasikan terhadap matriks (−5−432). Luas segitiga hasil transformasi adalah … </p>
{% endblock %}