<!DOCTYPE html>
<html>
<head>
	<title>KP</title>
	<h1><strong><center>KATA PENGANTAR</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>
<p>Puji syukur kepada Allah yang telah memberikan rahmat dan hidayah-Nya, sehingga saya dapat menyelesaikan penyusunan modul pembelajaran ini dengan judul “Transformnasi Geometri”.
    Shalawat dan salam semoga tetap tercurahkan pada junjungan kita yaitu Nabi Muhamad SAW, yang telah membawa kita pada alam yang penuh dengan cahaya ilmu pengetahuan ini.
    </p>
    <p>Walaupun banyak kekurangan, akhirnya saya dapat menyelesaikan modul pembelajaran ini dengan tujuan untuk memenuhi tugas mata kuliah Pengembangan Multimedia Matematika dan juga untuk menambah wawasan saya tentang materi pembelajaran.   
    </p>
    <p>Tugas ini dapat diselesaikan karena ada dukungan yang sangat besar dari beberapa pihak. Oleh karena itu, saya mengucapkan banyak terima kasih kepada pihak yang telah memberikan dukungan kepada saya dan juga terima kasih kepada Bapak Aan Hendrayana yang senantiasa memberikan bimbingan kepada saya.</p>
<p>Dan saya sebagai penulis juga mohon maaf yang sebesar-besarnya apabila pada modul pembelajaran yang saya susun terdapat banyak kesalahan dan kekurangan. Maka dari itu, saya mengaharapkan kepada para pembaca untuk memberikan kritik inovatif yang dapat menjadi pelajaran bagi saya kedepan. Harapan saya, semoga makalah ini bermanfa’at bagi penulis dan juga bagi para pembaca.</p>
<p></p>
<p>Tangerang Selatan, Maret 2022  </p>
<p></p>
<p></p>
<P></P>
<P>Penulis	</P>
</body>
</html>