<!DOCTYPE html>
<html>
<head>
	<title>pendahuluan</title>
	<h1><strong><center>PENDAHULUAN</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>
<center><p>Sekilas Tentang Transformasi Geometri</p></center>
<p>Matematika merupakan ilmu yang dipelajari disetiap jenjang pendidikan sekolah. Matematika sangat berguna dalam meningkatkan kemampuan siswa, kemampuan dalam berpikir kritis maupun berlogika, sehingga ilmu matematika ini sangat membantu dalam hal teoritis dan praktis dalam menangani masalah kehidupan sehari-hari. </p>
<p> Mata pelajaran matematika merupakan yang sangat penting, dengan Ilmu Matematika kita mengetahui adanya geometri transformasi yang memuat refleksi, translasi, rotasi, dan dilatasi. 
</p>
<center> <img src="PENDAHULUAN ORG NAIK LIFT.jpg" width ="500px" height="300px"></center>
<p>Mungkin kita tidak sadar bahwa selama ini kita sudah sering menggunakan konsep transformasi geometri dalam kehidupan sehari-hari. Pada saat pergi ke mall, kita ingin berpindah dari lantai 1 ke lantai 4 atau lantai lainnya, pastinya menggunakan lift merupakan cara yang efisien untuk melakukan hal tersebut. Nah, pada peristiwa itu terjadi konsep transformasi geometri, yaitu gerak Translasi atau perpindahan. Selain Translasi terdapat tiga sub lainnya dalam konsep Transformasi Geometri. </p>
<p>Tahukah anda yang maksud dari empat sub dalam materi Transformasi Geometri tersebut? Translasi adalah transformasi yang memindahakan setiap titik pada bidang dengan jarak dan arah tertentu. Dimana refleksi adalah pencerminan, yaitu proses mencerminkan setiap titik bangun geometri itu terhadap garis tertentu (sumbu cermin / sumbu simetri). Rotasi adalah transformasi dengan cara memutar objek dengan titik pusat tertentu. Dilatasi adalah transformasi yang mengubah ukuran bangun tetapi tidak mengubah bentuknya. Agar dapat memahami materi ini dengan baik, Anda dapat mempelajari bahan ajar ini.</p>
</body>
</html>