<!DOCTYPE html>
<html>
<head>
	<title>Bab 1</title>
	<h1><strong><center>DEFINISI TRANSFORMASI GEOMETRI</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>
	<center>	
   <iframe width="560" height="315" src="https://www.youtube.com/embed/Q-dwYkyWWYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <img src="perbesar foto.PNG" width ="500px" height="300px">
	</center>
	<h2></h2>

		<p>Ketika kita sedang mengedit sebuah foto dengan software seperti Adobe Photoshop, bagaimana foto tersebut dapat berubah ukurannya? Nah sebetulnya kita sedang melakukan transformasi geometri. Dalam aktivitas ini, kita menerapkan konsep Transformasi Geometri yaitu dilatasi atau perkalian. Dilatasi adalah tranaformasi yang mengubah ukuran suatu objek dengan konsep perkalian, tetapi tidak mengubah bentuk objek tersebut. Kita tidak sadar karena yang melakukan perhitungan (perkalian matriks) adalah komputer.</p>
			<center>
			<img src="definisi.jpg" width ="500px" height="150px">
		</center>
			</center>
		<p>Transformasi adalah aturan yang memetakan antara suatu benda dengan bayangan benda tersebut (Sugiyono, Sukma dan Wijaya, 2018). Transformasi dapat diperagakan dengan perpindahan suatu benda dari suatu kedudukan ke kedudukan lainnya. Benda tersebut berupa titik, ruas garis, garis, atau bangun datar. Transformasi pada suatu bidang dapat pula diartikan sebagai fungsi bijektif yang memetakan suatu himpunan ke himpunan lainnya pada bidang tersebut. Oleh karena itu, transformasi memiliki invers yang tunggal dan inversnya berupa transformasi.</p>
		<p align="center">A(x,y)□(→┴t ) A'(x^',y^')</p>
		<p>Transformasi geometri adalah bagian dari geometri yang membicarakan perubahan, baik perubahan letak maupun bentuk penyajianya didasarkan dengan gambar dan matriks (Hermawan, 2010).  Ada empat jenis transformasi geometri, yaitu translasi (pergeseran), refleksi (pencerminan), rotasi (perputaran), dan dilatasi (perkalian).</p>

		
		<h2>B.	Applet Geogebra</h2>
		<center>
			<iframe src="https://www.geogebra.org/classic/sugdqwuz?embed" width="800" height="600" allowfullscreen style="border: 1px solid #e4e4e4;border-radius: 4px;" frameborder="0"></iframe>
		</center>
		<p>Langkah pengembangan terkait transformasi geometri dilatasi bisa dilakukan di aplikasi geogebra dengan langkah-langkah sebagai berikut</p>
		<p>1. Membuat segitiga dengan tools polygon.</p>
		<p>2. Mengubah warna pada masing-masing segitiga dengan klik (pengaturan->warna).</p>
		<p>3. Klik tools luncuran pada tools bar, lalu klik dimana saja untuk meletakkan luncuran.</p>
		<p>4. Ubah nama luncuran menjadi “s” dan ubah minimum menjadi -4 dan maksimum 4.</p>
		<p>5. Ketik seperti rumus dibawah ini pada setiap segitiga dengan objek(t1, t2, t3) dan dilation factor(s). </p>
		<p>6. Klik tools sisipkan tombol untuk membuat tombol. Dengan script:

StartAnimation(s)</p>

</body>	
</html>