<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1><strong><center>DAFTAR PUSTAKA</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>

<P>Hermawan, A. (2010) “PENGEMBANGAN MULTIMEDIA INTERAKTIF SEBAGAI MEDIA PEMBELAJARAN MATEMATIKA PADA POKOK BAHASAN TRANSFORMASI GEOMETRI,” hal. 1–133.</P>
<P>Istiqomah (2020) “Modul Pembelajaran SMA Matematika Umum Kelas XI,” Direktorat SMA, Direktorat Jenderal PAUD, DIKDAS dan DIKMEN, hal. 2013–2015.</P>
<P>Sugiyono, Sukma, T. dan Wijaya (2018) “PENGEMBANGAN MEDIA PEMBELAJARAN MATEMATIKA BERBASIS MULTIMEDIA PADA MATERI TRANSFORMASI GEOMETRI SMA KELAS XII,” (1976), hal. 8–42.</P>

</body>
</html>