<!DOCTYPE html>
<html>
<head>
	<title></title>
	<h1><strong><center>BIOGRAFI</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>
<STRONG><CENTER>RENDY TRI CAHYADI</CENTER></STRONG>
<P>Lahir di Tangerang, pada 09 Oktober 2003. Penulis merupakan anak ke-3 dari 3 bersaudara, dari pasangan Suroto dan Suwarsi. Bertempat tinggal di Jl. H. Samiin, Gang T. Ardawih, Kampung Ceger, Rt 001/005, No. 150, Pondok Aren, Jurang Mangu Barat, Kota Tangerang Selatan, Banten. Saya adalah seorang mahasiswa program studi S-1 Pendidikan Matematika FKIP dari Universitas Sultan Ageng Tirtayasa, Banten. Motivasi hidup saya adalah Don't Judge a Book by It's Cover, artinya "Jangan menilai seseorang hanya dari penampilan luarnya saja"</P>
<P>Pendidikan Sekolah Dasar diselesaikan pada tahun 2015 di SDN Larangan Selatan 01. Setelah tamat SD, saya melanjutkan sekolah di SMPN 13 Kota Tangerang Selatan hingga tamat pada tahun 2018. Setelah tamat dari pendidikan di SMPN 13 Kota Tangerang Selatan, kemudian saya melanjutkan pendidikan Sekolah Menengah Atas di SMAN 4 Kota Tangerang Selatan hingga tamat pada tahun 2021.Selanjutnya saya meneruskan kuliah di Universitas Sultan Ageng Tirtayasa pada Fakultas Keguruan dan Ilmu Pendidikan Program Studi Pendidikan Matematika.</P>
<P>Saya mulai aktif organisasi mulai dari pendidikan SMA dengan mengikuti Ekstrakurikuler Kelompok Ilmiah Remaja (KIR) dan Paduan Suara, dan menjabat sebagai Wakil Ketua Umun pada Ekstrakurikuler KIR , Sekertaris Umum pada Ekstrakurikuler Paduan Suara pada tahun 2019 – 2020. Sekarang di perkuliahan saya juga mengikuti Unit Kegiatan Mahasiswa(UKM) internal kampus, yaitu Paduan Suara Mahasiswa (PSM) Gita Tirtayasa sebagai anggota Humas Internal (HI).</P>
<P>Dengan ketekunan dan motivasi tinggi untuk terus belajar dan berusaha, penulis telah berhasil menyelesaikan pengerjaan modul bahan ajar ini. Semoga dengan penulisan modul ini mampu memberikan kontribusi positif bagi dunia pendidikan. Akhir kata penulis mengucapkan rasa syukur dan terima kasih yang sebesar-besarnya atas terselesaikannya modul bahan ajar yang berjudul “Transformasi Geometri”.</P>

</body>
</html>