{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
	<title>Bab 2</title>
	<h1><strong><center>MACAM-MACAM TRANSFORMASI GEOMETRI</center></strong></h1>
	<link rel="stylesheet" type="text/css" href="pmm.css">
</head>
<body>
	<center>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/TqMuYmxz5oA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
	</center>
	<h2>A.	TRANSLASI</h2>
			<center>
			<img src="gambar translasi.jpg" width ="500px" height="300px">
			</center>
		<p>Apakah kamu pernah memperhatikan objek-objek yang bergerak di sekitarmu? Tentunya hal itu pasti sering sekali terjadi, seperti memindahkan box-box, mengendarai sepeda, membuka/ menutup pintu, mendorong meja, dan masih banyak lagi. Aktivitas tersebut merupakan salah satu dari konsep transformasi geometri, yaitu translasi (perpindahan/pergeseran).Untuk mempermudah memahami konsep translasi kita bisa menggunakan pendekatan bidang Cartesius. Kita dapat mengasumsikan untuk pergeseran ke kanan pada bidang cartesius merupakan sumbu X positif, pergeseran ke kiri merupakan sumbu X negatif, pergeseran ke atas merupakan sumbu Y positif dan pergeseran ke bawah merupakan sumbu Y negatif (Istiqomah, 2020).</p>

		<p>Contoh Masalah:
		“Tika ingin berangkat ke sekolah. Jika Tika berangkat dari rumah maka untuk sampai ke sekolah ayu harus berjalan 7 satuan ke arah barat dan berjalan 5 satuan ke arah selatan. Coba kamu sketsa pergerakan Tika pada bidang cartesius. Dapatkah kamu menemukan proses pergerakan Ayu dari rumah menuju sekolah? “ 
		</p>
		<p>
			Maka penyelesaiannya yaitu:
			<center>
			<img src="ilus 1 transla.png" width ="500px" height="300px">
			</center>
			Jika kita melihat posisi rumah Tika pada bidang Cartesius berada pada koordinat (3,2). Untuk menuju ke sekolah Tika harus berjalan ke arah barat 7 satuan artinya posisi Tika bergeser 7 satuan ke kiri dari posisi rumah pada bidang Cartesius. Selanjutnya Tika harus berjalan lagi ke arah selatan 5 satuan artinya posisi Tika bergeser 5 satuan ke bawah.  Jika kita melihat pada bidang Cartesius pada saat tiba di sekolah posisi Tika berada pada koordinat(−4, −3). Hal ini berarti:
		</p>
		<p align="center">(3¦2)+((-7)¦(-5))=((-4)¦(-3))</p>
		<p align="center">Jadi, posisi Tika di sekolah terletak pada koordinat (−4,−3).</p>
		 
		<p>Setelah menyelesaikan permasalahan tersebut kita dapat menndefinisikan bahwa, Translasi merupakan jenis transformasi yang memindahkan suatu titik sepanjang garis lurus dengan arah dan jarak. Artinya, translasi itu hanya perpindahan/pergeseran titik. 
		</p>
		<center>
			<img src="translasi.PNG" width ="500px" height="300px">
		</center>
		<p> Translasi terbagi menjadi beberapa macam, yaitu:
		</p>
		<p>
				1. Translasi terhadap titik: 
A(x¦y) □(→┴T(a¦b)  ) A'((x+a)¦(y+b))
		</p>
		<p>
				2. Translasi terhadap garis: 
mx+ny=c□(□(→┴T(a¦b)  ))  m(x-a)+n(y-b)=c
		</p>
		<p>
				3. Translasi terhadap kurva :
y=ix^2+jx+k□(□(→┴T(a¦b)  ))  (y-b)=i〖(x-a)〗^2+j(x-a)+k
		</p>
		<p>
			4. 	Translasi terhadap lingkaran:
x^2+y^2=r^2 □(□(→┴T(a¦b)  )) 〖(x-a)〗^2+〖(y-b)〗^2=r^2
		</p>

		<h2>B.) Refleksi (Pencerminan)</h2>
<center>
			<img src="gambar refleksi bercermin.JPG" width ="500px" height="300px">
		</center>
<p>Pernahkah kalian berdiri di depan cermin? Tentunya hal itu pasti sering sekali dilakukan, seperti saat setelah mandi, berdandan, memakai baju, dan lain-lain. Aktivitas tersebut merupakan salah satu dari konsep transformasi geometri, yaitu  refleksi (pencerminan). Untuk lebih memahami konsep refleksi, cobalah pahami permasalahan berikut:</p>
<p>“Terdapat sebuah bintang yang diletakkan dihadapan cermin dengan jarak 30 cm. Bagaimana hasil refleksi bintang terhadap cermin? Bagaimana jarak bayangan bintang terhadap cermin ?” 
Maka penyelesainnya yaitu:
</p>
<center>
			<img src="ilus refleksi.png" width ="500px" height="300px">
		</center>
<p>Seperti telihat pada Gambar diatas hasil bayangan bintang terhadap cermin berupa bintang. Jika kita misalkan bintang sebagai titik A dan bayangan bintang sebagai A’, maka jarak titik A ke cermin sama dengan jarak titik A’ ke cermin yaitu 30 cm. Selain itu, jika titik A dan titik A’ kita hubungkan maka garis AA’ akan tegak lurus dengan cermin dan menghasilkan titik yang sama dengan jarak yang sama.</p>
<p>Setelah menyelesaikan permasalahan tersebut kita dapat menndefinisikan bahwa, Refleksi adalah suatu transformasi yang memasangkan setiap titik pada bidang dengan menggunakan sifat bayangan cermin dari titik-titik yang hendak dipindahkan itu.</p>
<p>Tiga sifat utama refleksi adalah: 
a. Jarak titik ke cermin sama dengan jarak titik bayangannya ke cermin. 
b. Suatu bangun yang direfleksikan akan kongruen dengan bayangannya. 
c. Garis yang menghubungkan titik asal dengan titik bayangan tegak lurus terhadap cermin
</p>
<center>
			<img src="refleksi.PNG" width ="500px" height="300px">
		</center>
<p>Pada refleksi terdapat titik dan garis invarian. Titik invarian pada refleksi adalah titik yang berada pada cermin dan garis invarian pada refleksi adalah garis yang berimpit dengan cermin.</p>

<h2>C.) Rotasi (Perputaran)</h2>
<img src="gambar rotasi kompud.jpg" width ="500px" height="300px">
<p>Apakah kamu pernah melihat benda berputar di sekitarmu?Suatu benda dapat berputar searah jarum jam  ataupun  berlawanan  arah  jarum jam dengan pusat tertentu. Contohnya seperti komedi putar, biang lala, roda kendaraan, melakukan gerakan menari berputar, dan masih banyak lainnya. Kegiatan tersebut merupakan salah satu dari konsep transformasi geometri, yaitu rotasi (perputaran). </p>
<p>Rotasi (perputaran) merupakan suatu transformasi yang memasangkan titik ke himpunan titik lainnya dengan cara memutar, atau dengan kata lain rotasi adalah peristiwa memindahkan suatu objek (gambar) melalui garis lengkung dengan pusat pada titik tertentu dan dengan sudut putar yang tertentu dengan arah searah atau berlawanan arah jarum jam yang menyebabkan kedudukan gambar berubah. Suatu rotasi dikatakan memiliki arah positif jika rotasi itu berlawanan arah dengan arah putaran jarum jam dan rotasi dikatakan negatif jika rotasi itu searah dengan arah putaran jarum jam.</p>
<center><img src="rotasi.png" width ="500px" height="300px"></center>
<p>Rotasi pada bidang datar ditentukan oleh: 
1.	Titik pusat rotasi
2.	Besar sudut rotasi
3.	Arah sudut rotasi 
</p>

<h2>D.) Dilatasi (Perkalian)</h2>
<center><img src="dilatasi contoh.PNG" width ="500px" height="300px"></center>
<p>Apakah kamu pernah mengedit ukuran sebuah foto? Ketika kita mengubah ukuran saat mengedit sebuah foto, hal tersebut merupakan salah satu dari konsep transformasi geometri, yaitu dilatasi (perkalian). </p>
<center><img src="dilatasi.png" width ="500px" height="300px"></center>
<p>Dilatasi adalah transformasi yang mengubah ukuran bangun geometri, tetapi tidak mengubah bentuk bangun geometri itu, atau Dilatasi adalah transformasi yang mengubah jarak titik-titik dengan faktor pengali tertentu terhadap suatu titik tertentu. Faktor pengali tertentu disebut faktor dilatasi atau faktor skala dan titik tertentu disebut pusat dilatasi. Dilatasi dapat berupa, dilatasi diperbesar dan dilatasi diperkecil.</p>
<p>Berikut adalah sifat bayangan berdasarkan nilai k:
	Jika k > 1 maka bangun akan diperbesar dan terletak searah terhadap sudat dilatasi dengan bangun semula.
	Jika k = 1 maka bangun tidak mengalami perubahan ukuran dan letak.
	Jika 0 < k < 1 maka bangun akan diperkecil dan terletak searah terhadap pusat dilatasi dengan bangun semula.
	Jika -1 < k < 0 maka bangun akan diperkecil dan terletak berlawanan arah terhadap pusat dilatasi dengan bangun semula.
	Jika k = -1 maka bangun tidak akan mengalami perubahan bentuk dan ukuran dan terletak berlawanan arah terhadap pusat dilatasi dengan bangun semula.
	Jika k < -1 maka bangun akan diperbesar dan terletak berlawanan arah terhadap pusat dilatasi dengan bangun semula.
</p>
{% endblock %}